$--font-size-xsmall: 12px;
$--font-size-small: 14px;
$--font-size-normal: 16px;
$--font-size-large: 18px;

$--theme-bg-page: "";
// black
$--color-black: #111;
$--color-black_1E: #1e1e1e;
$--color-black_27: #272727;

// gray
$--color-gray_2C: #2c2c2c;
$--color-gray_32: #323232;
$--color-gray_39: #393939;
$--color-gray_3F: #3f3f3f;
$--color-gray_43: #434343;
$--color-gray_49: #494949;
$--color-gray_3: #333;
$--color-gray_4: #444;
$--color-gray_5: #555;
$--color-gray_6: #666;
$--color-gray_7: #777;
$--color-gray_8: #888;
$--color-gray_9: #999;
$--color-gray_A: #aaa;
$--color-gray_D2: #d2d2d2;

// white
$--color-white: #fff;

// surface
$--color-surface-1: #f5f7fa;
$--color-surface-2: #eff1f6;
$--color-surface-3: #e8ecf1;
$--color-surface-4: #e2e6ed;
$--color-surface-5: #dce0e8;
$--color-surface-6: #d6dae4;
$--color-surface-7: #cfd5df;
$--color-surface-8: #c9cfdb;

// state
$--color-primary: #4b74c6;
$--color-secondary: #42c287;
$--color-default: #c4c5ce;
$--color-info: #4c4c4c;
$--color-done: #6acad1;
$--color-success: #67c23a;
$--color-danger: #f65858;
$--color-ready: #ffb178;
$--color-warning: #f3e036;

// color
$--color-pink: #ff9182;
$--color-green: $--color-secondary;
$--color-blue: $--color-primary;
$--color-yellow: $--color-warning;
$--color-orange: $--color-ready;
$--color-skyBlue: $--color-done;
$--color-purple: #4d00b6;

$config: (
  dark: (
    backgroundColor: $--color-black_1E,
    color: $--color-white,
    card-backgroundColor__rounded: $--color-gray_2C,
    chip-default: $--color-gray_9,
    chip-info: $--color-surface-2,
    chip-color: $--color-default,
    btn-backgroundColor: $--color-surface-1,
    btn-color: $--color-black_1E,
  ),
  light: (
    backgroundColor: $--color-surface-1,
    color: $--color-black,
    card-backgroundColor__rounded: $--color-surface-1,
    chip-default: $--color-surface-8,
    chip-info: $--color-surface-8,
    chip-color: $--color-gray-7,
    btn-backgroundColor: $--color-black_1E,
    btn-color: $--color-surface-1,
  ),
);
