.card {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  &:not(:first-child) {
    padding-top: 40px;
  }
  @include tablet {
    display: block;
  }
  &-header {
    flex: 0 0 300px;
    @include tablet {
      flex: none;
    }
  }

  &-container {
    flex: 0 0 calc(100% - 320px);
  }

  &-title {
    width: 100%;
    line-height: 1.5rem;
    overflow-wrap: break-word;
    white-space: pre-line;
    @include tablet {
      white-space: initial;
    }
  }
  &-help {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 10px 15px;
    //border:1px solid #dee8ee;
    background-color: #f1f3f4;
    color: #818b8f;
    border-radius: 8px;
    display: flex;
    align-items: start;
    gap: 8px;
    i[class^="icon-"]{
      color: #9eaeb6;
      padding:2px 0;
    }
    p {
      word-break: keep-all;
    }
  }
  &-desc {
    &:not(:first-child) {
      margin-top: 20px;
    }

    &-content {
      padding-top: 10px;
    }

    &-detail {
      width: 100%;
      line-height: 1.5rem;
      overflow-wrap: break-word;
      white-space: pre-line;
      transform: translateY(-15px);
      word-break: keep-all;
    }
  }

  &__rounded {
    border-radius: 5px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    gap: 0;
    padding: 20px 15px !important;
    .card {
      &-header {
        flex: 0 0 45%;
      }
      &-container {
        flex: 0 0 55%;
      }
    }
    @include mobile {
      display: flex;
      & + .card {
        margin-top: 20px;
      }
      .card {
        &-header {
          flex: 0 0 50%;
        }
      }
    }
  }
  &-list {
    &-item {
      line-height: 1.5rem;
      font-size: $--font-size-small;
    }
  }
}
@each $theme in dark, light {
  .#{$theme}-mode {
    .card__rounded {
      background-color: map-deep-get(
        $config,
        #{$theme},
        "card-backgroundColor__rounded"
      );
    }
    .card-help {
      background-color: map-deep-get(
                      $config,
                      #{$theme},
                      "card-help-backgroundColor"
      );
      color: map-deep-get(
                      $config,
                      #{$theme},
                      "card-help-color"
      );
    }
  }
}
